.pendingg{
    color: white;
    background-color: chartreuse;
    border-radius: 5px;
    text-align: center;
}
.cancell{
    color: white;
    background-color: red;
    border-radius: 5px;
    text-align: center;
}
.successfulll{
    color: white;
    background-color: blue;
    border-radius: 5px;
    text-align: center;
}
th{
    font-family: 'poppins', sans-serif;
}
td{
    font-family: 'poppins', sans-serif;
}
.listsee{
    height: 10px;
}
.icon{
    font-size: 19px;
}
// card
// .lsittotal{

// }
.form-head {
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
}